<hr class="mt-5">
<div class="container-fluid my-5">
  <h2>Visualisation des données</h2>
  <div class="row" id="chartContener">
    <div *ngIf="chart" class="col-12 col-lg-4 card my-2" id="div-genre">
      <canvas id="canvasGenre"></canvas>
    </div>
    <div *ngIf="chart" class="col-12 col-lg-4 card my-2" id="div-espece">
      <canvas id="canvasEspece"></canvas>
    </div>
    <div *ngIf="chart" class="col-12 col-lg-4 card my-2" id="div-commune">
      <canvas id="canvasCommune"></canvas>
    </div>
  </div>
</div>