<header>
  <nav class="navbar justify-content-between navbar-expand-sm">
    <a class="navbar-brand">{{AppTitle}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="[ '/home' ]" routerLinkActive="active" class="nav-link"><i class="fas fa-home"></i> Accueil</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a *ngIf="!_authService.loggedIn()" [routerLink]="[ '/register' ]" routerLinkActive="active" class="nav-link btn-link btn">
            <i class="fas fa-user-plus"></i> S'enregistrer</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!_authService.loggedIn()" [routerLink]="[ '/login' ]" routerLinkActive="active" class="nav-link btn-link btn">
            <i class="fas fa-user-circle"></i> Se connecter</a>
        </li>
        <li class="nav-item">
          <a *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" class="nav-link btn-link btn">
            <i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
