 header {

    background-color: #5CB85C;
    border-bottom: solid rgb(195, 103, 78) 5px;
    color: white;
}

.navbar-brand {
    font-size: 2.5em;
}

.navbar-nav a {
    color: white;
}

button span {
    color: white;
}
