
.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-margin {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.tbody-scroll-500 {
    display: block;
    height: 500px;
    overflow: auto;
}

.tbody-scroll-300 {
    display: block;
    height: 300px;
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em)
}

footer {
    margin-top: 100px;
}
