
  <!-- <nav class="navbar flex-column vertical-menu">
    <div class="" id="navbarSupportedContent">
      <h5 class="text-right">Visualisation par Filtre :</h5>
      <ul class="">
        <li class="nav-item filtre nav-link">
          <label for="cbGenre">Genre</label>
          <input id="cbGenre" type="checkbox" name="" placeholder="Genre" />
        </li>

        <li class="nav-item filtre nav-link">
          <label for="cbEspece">Espece</label>
          <input id="cbEspece" type="checkbox" name="" placeholder="Espece" />
        </li>

        <li class="nav-item filtre nav-link">
          <label for="cbCommune">Commune</label>
          <input id="cbCommune" type="checkbox" name="" placeholder="Commune" />
        </li>
      </ul>
    </div>
  </nav> -->

  <nav class="navbar justify-content-between navbar-expand-sm vertical-menu">
    <a class="navbar-brand">Visualisation par Filtre :</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFiltre" aria-controls="navbarFiltre"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarFiltre">
      <form class="form-inline navbar-nav">
        <div class="form-group filtre nav-item">
          <label for="cbGenre">Genre</label>
          <input (click)="cacher('div-genre')" [(ngModel)]="checkedGenre" class="form-control mx-2 nav-link" id="cbGenre" type="checkbox" name="cbGenre" placeholder="Genre" />
        </div>
        <div class="form-group filtre nav-item">
          <label for="cbEspece">Espece</label>
          <input (click)="cacher('div-espece')" [(ngModel)]="checkedEspece" class="form-control mx-2 nav-link" id="cbEspece" type="checkbox" name="cbEspece" placeholder="Espece" />
        </div>
        <div class="form-group filtre nav-item">
          <label for="cbCommune">Commune</label>
          <input (click)="cacher('div-commune')" [(ngModel)]="checkedCommune" class="form-control mx-2 nav-link" id="cbCommune" type="checkbox" name="cbCommune" placeholder="Commune" />
        </div>
      </form>
    </div>
  </nav>