
  <nav class="navbar flex-column vertical-menu">
    <!-- <a class="accueil" href="/">Accueil</a> -->
    <div class="" id="navbarSupportedContent">
      <h5 class="text-right">Visualisation par Filtre :</h5>
      <ul class="">
        <li class="nav-item filtre nav-link">
          <label for="cbGenre">Genre</label>
          <input id="cbGenre" type="checkbox" name="" placeholder="Genre" />
        </li>

        <li class="nav-item filtre nav-link">
          <label for="cbEspece">Espece</label>
          <input id="cbEspece" type="checkbox" name="" placeholder="Espece" />
        </li>

        <li class="nav-item filtre nav-link">
          <label for="cbCommune">Commune</label>
          <input id="cbCommune" type="checkbox" name="" placeholder="Commune" />
        </li>
      </ul>
    </div>
  </nav>