<div class="row pt-5">
  <div class="col-md-4 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">S'enregistrer</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Nom d'utilisateur</label>
            <input [(ngModel)]="registerUserData.username" type="text" name="username" id="u_username" class="form-control rounded-0" required />
          </div>
          <div class="form-group">
            <label for="">Adresse mail</label>
            <input [(ngModel)]="registerUserData.email" type="email" name="email" id="u_email" class="form-control rounded-0" required />
          </div>
          <div class="form-group">
            <label for="">Mot de passe</label>
            <input [(ngModel)]="registerUserData.password" type="password" name="password" id="u_password" class="form-control rounded-0" required />
          </div>
          <button (click)="registerUser(); $event.preventDefault();" class="btn btn-primary float-right" type="submit">S'enregister</button>
        </form>
      </div>
    </div>
  </div>
</div>